---

import Tarjeta from '../components/Tarjeta.astro';
import Layout from '../layouts/Layout.astro';

const api = await fetch('https://api.institutoalfa.org/api/songs')
const {songs} = await api.json()

---

<Layout>
	<div>
		<h1>reproductor</h1>
		 
		{
			songs.map(song => (
				<Tarjeta
				titulo={song.title}
				artista={song.author}
				album={song.album}></Tarjeta>
			))
		}
	</div>

	
</Layout>
