---
import { Icon } from 'astro-icon/components'
import './global.css'
import SongBar from '../components/SongBar'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="navbar">
			<div class="logo">
				<Icon name='mdi:spotify'></Icon>
			</div>
			<!-- frame 9 -->
			<div class="navbar-items">
				<!--frame 8 -->
				<div class="navbar-items">
					<!--frame 6 -->
					<div class="home-icon">
						<Icon name='mdi:home'></Icon>
					</div>
					<!--frame 1 -->
					<div class="search">
						<Icon name="mdi:search"></Icon>
						<p>que quieres reproducir?</p>
					</div>
				</div>
				<!--frame 5 -->
				<div class="navbar-items">
					<!--Frame 2 -->
					<div class="button-premium">
						<p>Explorar el premium</p>
					</div>
					<!--Frame 3 -->
					<div class="navbar-items">
						<Icon name="grommet-icons:install-option"></Icon>
						<p>Instalar la aplicacion</p>
					</div>
				</div>
				<!--frame 4 -->
				<div class="navbar-items-icons">
					<Icon class='icon' name="mdi:bell-outline"></Icon>
					<Icon class='icon' name="mynaui:users-group"></Icon>
					<Icon class='icon' name="emojione:letter-d"></Icon>
				</div>
			</div>
		</div>
		<slot />

		<SongBar client:visible></SongBar>
	</body>
</html>

<style>
	.navbar, .navbar-items {
		color: #ffffff;
		padding: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		
		
	}
	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		width: 32px;
		height: 32px;
		background-color: #1e1e1e;
		color: #fff;
		border-radius: 50%;
		cursor: pointer;
	}

	.home-icon{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: #1e1e1e;
		color: #fff;
		cursor: pointer;
	}

	.search {
		display: flex;
		align-items: center;
		background-color: #1e1e1e;
		border-radius: 20px;
		padding: 5px 10px;
		gap: 5px;
		color: #ffffff;
	
	}

	.button-premium {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #ffffff;
		border-radius: 20px;
		padding: 2px 5px;
		color: #ffffff;
		cursor: pointer;
	}

	.navbar-items-icons {
		display: flex;
		align-items: center;
		gap: 10px;
		color: #ffffff;
	}



	
</style>
