---
import { Icon } from 'astro-icon/components'
import './global.css'
import Footer from '../components/Footer'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="navbar">
			<div class="logo">
				<Icon name='mdi:spotify'></Icon>
			</div>
			<!-- frame 9 -->
			<div>
				<!--frame 8 -->
				<div>
					<!--frame 6 -->
					<div>
						<Icon name='mdi:home'></Icon>
					</div>
					<!--frame 1 -->
					<div>
						<Icon name="mdi:search"></Icon>
						<p>que quieres reproducir?</p>
					</div>
				</div>
				<!--frame 5 -->
				<div>
					<!--Frame 2 -->
					<div>
						<p>Explorar el premium</p>
					</div>
					<!--Frame 3 -->
					<div>
						<Icon name="grommet-icons:install-option"></Icon>
						<p>Instalar la aplicacion</p>
					</div>
				</div>
				<!--frame 4 -->
				<div>
					<Icon class='icon' name="mdi:bell-outline"></Icon>
					<Icon class='icon' name="mynaui:users-group"></Icon>
					<Icon class='icon' name="emojione:letter-d"></Icon>
				</div>
			</div>
		</div>
		<slot />

		<Footer client:visible></Footer>
	</body>
</html>

<style>
	
	.icon {
		
		color: #1e1e1e;
	}
</style>
